.submenu-tab-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;

	row-gap: 7px;
}

.submenu-tab {
	cursor: pointer;

	min-height: fit-content;

	padding: 10px 10px;

	display: flex;
	align-items: center;

	column-gap: 5px;

	border: none;
	border-radius: 5px;

	background-color: rgb(234, 246, 250);
}

.submenu-tab:hover {
	background-color: rgb(229, 249, 255);
}

.submenu-tab-tag-list {
	flex: 1;

	list-style: none;

	padding: 0;

	display: flex;
	flex-wrap: wrap;

	column-gap: 4px;
	row-gap: 5px;
}

.submenu-tab-delete-button {
	cursor: pointer;

	aspect-ratio: 1;
	width: 24px;

	padding: 0;

	border: none;

	background-color: rgb(255, 103, 149);

	mask-image: url('../../icon/close-bold-svgrepo-com.svg');
	mask-position: center;
	mask-size: 55%;
	mask-repeat: no-repeat;
}

.submenu-tab-delete-button:hover {
	background-color: rgb(255, 0, 76);
}
