.autocompleter {
	overflow-y: scroll;
	overscroll-behavior: contain;

	display: visible;

	opacity: 1;
	margin: 0;
	list-style: none;

	z-index: 3;

	position: absolute;
	top: var(--autocompleter-top);
	left: var(--autocompleter-left);

	padding: 10px;

	display: flex;
	flex-direction: column;

	row-gap: 2px;

	max-height: 200px;

	min-width: 125px;

	border-radius: 8px;

	background-color: rgb(231, 251, 255);

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	transition: opacity 200ms;
}

.autocompleter li {
	cursor: pointer;

	color: rgb(72, 97, 107);
	font-size: 12.5px;

	padding: 5px 6px;

	border-radius: 5px;
}

.autocompleter li:hover {
	background-color: rgb(204, 243, 255);
}

.autocompleter .autocompleter-selected {
	background-color: rgb(172, 236, 255);
}

.autocompleter-hidden {
	pointer-events: none;

	opacity: 0;
}
