body {
	overflow: hidden;

	padding: 0 0 0 0;
	margin: 0 0 0 0;

	background-color: rgb(251, 250, 253);

	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.scrollable {
	scrollbar-gutter: stable both-edges;
}

.scrollable::-webkit-scrollbar {
	width: 7px;
	height: auto;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: rgb(171, 236, 247);
	border-radius: 20px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
	background-color: rgb(161, 228, 240);
}

*:focus-visible {
	outline: solid 1px rgb(16, 219, 255);
}

::selection {
	background-color: rgb(215, 250, 255);
}
