#menu {
	z-index: 3;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	width: 45px;

	padding: 5px 0;

	display: flex;
	flex-direction: column;
	row-gap: 7px;
	align-items: center;

	background-color: rgb(251, 250, 253);

	border-right: 1px solid rgb(211, 211, 211);
}

.menu-button {
	cursor: pointer;

	aspect-ratio: 1;
	width: 35px;

	padding: 1px;

	display: flex;
	align-items: center;

	background: none;

	border: none;
}

.menu-button:hover {
	background-color: rgb(221, 242, 252);

	border-radius: 5px;
}

.menu-last {
	margin-top: auto;
}

.menu-icon {
	pointer-events: none;

	aspect-ratio: inherit;
	width: inherit;

	background-color: rgb(74, 178, 209);

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 80%;
}

.menu-upload-icon {
	mask-image: url('../../icon/upload-svgrepo-com.svg');
}

.menu-favourites-icon {
	mask-image: url('../../icon/star-fill-svgrepo-com.svg');
}

.menu-history-icon {
	mask-image: url('../../icon/history-svgrepo-com.svg');
}

.menu-settings-icon {
	mask-image: url('../../icon/configuration-gears-svgrepo-com.svg');
}

.menu-search-icon {
	mask-image: url('../../icon/search-svgrepo-com.svg');
}
