#tab-bar {
	z-index: 2;

	overflow-x: scroll;
	overflow-y: hidden;

	position: fixed;
	top: 0;
	left: 45px;
	right: 0;

	height: 35px;

	padding: 6px 5px 0 10px;

	display: flex;
	column-gap: 2px;

	background-color: rgb(238, 250, 252);
}

.tab {
	flex: 1;
	position: relative;

	max-width: 200px;
	min-width: 75px;
	height: 35px;

	transition: all 150ms;
}

.tab-body {
	--alpha: 1;

	cursor: pointer;

	height: 35px;

	display: flex;
	align-items: center;

	column-gap: 10px;

	border-radius: 13px 13px 0 0;

	background-color: rgba(251, 250, 253, var(--alpha));
}

.tab-body-closed {
	--alpha: 0;
}

.tab-body-closed:hover {
	--alpha: 0.65;
}

.tab-title {
	user-select: none;

	pointer-events: none;

	opacity: 1;
	margin-left: 10px;

	white-space: nowrap;
	overflow: hidden;

	font-size: 12px;
	color: rgb(42, 65, 75);
}

.tab-close-tab-button {
	cursor: pointer;

	aspect-ratio: 1;
	width: 15px;

	padding: 0;

	display: flex;
	align-items: center;
	justify-items: center;

	margin-left: auto;
	margin-right: 10px;

	background-color: rgba(255, 206, 222, 0.377);

	border: none;
	border-radius: 100px;
}

.tab-body-closed .tab-close-tab-button {
	opacity: var(--alpha);
}

.tab-close-tab-button:hover {
	background-color: rgb(255, 206, 222);
}

.tab-close-tab-icon {
	aspect-ratio: inherit;
	width: inherit;

	background-color: rgb(255, 0, 76);

	mask-image: url('../../icon/close-bold-svgrepo-com.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 70%;
}

.tab-add-button {
	cursor: pointer;

	aspect-ratio: 1;

	margin: 4px 0 5px 2px;

	border: none;
	border-radius: 7px;

	background-color: rgba(206, 247, 247, 0.5);
}

.tab-add-button:hover {
	background-color: rgb(206, 247, 247);
}

.tab-add-icon {
	aspect-ratio: 1;

	width: inherit;

	background-color: rgb(74, 178, 209);

	mask-image: url('../../icon/add-svgrepo-com.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 110%;
}
