.tooltip {
	z-index: 4;

	cursor: default;

	user-select: none;

	position: absolute;

	padding: 5px;
	border-radius: 7px;

	background-color: rgb(240, 242, 245);

	font-size: 12px;

	white-space: nowrap;

	transition: opacity var(--tooltip-fade-duration), visibility var(--tooltip-fade-duration);
}

.tooltip-hidden {
	visibility: hidden;

	opacity: 0;
}

.tooltip-visible {
	visibility: visible;

	opacity: 1;

	transition-delay: var(--tooltip-delay);
}
