@media (min-width: 700px) {
	.editor {
		max-width: 340px;

		top: 41px;

		width: 340px;

		padding: 30px 0;

		height: calc(100vh - 41px - 60px);
		max-height: calc(100vh - 41px - 60px);

		align-items: center;

		border-left: 1px solid rgb(211, 211, 211);

		box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.03);
	}

	.editor-hidden {
		max-width: 0;
	}
}

@media (max-width: 700px) {
	.editor {
		bottom: 0;

		padding: 30px 18%;

		max-height: 275px;
		min-height: 275px;

		height: 275px;

		align-items: stretch;

		border-top: 1px solid rgb(211, 211, 211);

		box-shadow: 10px -3px 10px rgba(0, 0, 0, 0.03);
	}

	.editor-hidden {
		max-height: 0;
		min-height: 0;

		padding-top: 0;
		padding-bottom: 0;
	}
}

.editor {
	z-index: 1;

	overflow-y: scroll;

	overscroll-behavior: contain;

	position: sticky;

	display: flex;
	flex-direction: column;

	row-gap: 20px;

	background-color: rgb(251, 250, 253);

	transition: max-width 400ms, min-height 400ms, max-height 400ms;
}

/*Open-Delete Container*/

@media (min-width: 700px) {
	.editor-open-delete-container {
		width: 280px;
	}
}

.editor-open-delete-container {
	display: flex;
	column-gap: 10px;
}

.editor-open-delete-container button {
	cursor: pointer;

	border-style: none;
	border-radius: 40px;

	height: 35px;
}

.editor-delete-button {
	width: 35px;

	display: flex;
	align-items: center;

	background-color: rgb(255, 87, 137);
}

.editor-open-button {
	flex: 1;

	color: rgb(72, 97, 107);

	background-color: rgb(207, 241, 250);
}

/*Image preview*/
@media (min-width: 700px) {
	.editor-preview {
		width: 280px;
	}
}

.editor-preview {
	display: flex;

	align-items: stretch;
}

.editor-preview-image {
	flex: 1;

	width: 1px;
	border-radius: 10px;
}

.editor-multi-preview {
	padding: 0 3px 3px 0;
	background-color: rgb(251, 250, 253);

	border-right: 5px solid rgb(199, 239, 250);
	border-bottom: 5px solid rgb(199, 239, 250);

	border-radius: 10px;
}

/*Editor body*/

@media (min-width: 700px) {
	.editor-body {
		width: 280px;
	}
}

.editor-body {
	display: flex;
	flex-direction: column;

	row-gap: 7px;
}

.editor-selection-counter {
	max-height: 20.6667px;
	overflow: hidden;

	margin: 0;

	color: rgb(21, 101, 126);

	transition: max-height 400ms;
}

.editor-selection-counter:empty {
	max-height: 0;
}

.editor-selection-counter strong {
	font-size: large;
}

.tag-editor {
	overflow: scroll;
	overscroll-behavior: contain;

	min-height: 23.33px;

	padding: 10px;

	display: flex;
	flex-wrap: wrap;

	align-content: flex-start;

	column-gap: 4px;
	row-gap: 6px;

	align-items: center;

	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(211, 211, 211);

	background-color: white;

	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.062);
}

.tag-editor:has(.tag-editor-input:focus) {
	outline: solid 1px rgb(16, 219, 255);
}

.tag-editor-input {
	flex: 1;

	width: clamp(100px, auto, 100%);

	max-width: 100%;

	white-space: nowrap;

	font-size: 13px;
}

.tag-editor-input:focus {
	outline: none;
}

.tag-editor-warning {
	max-height: 14px;
	overflow: hidden;

	margin: 0;

	padding-left: 5px;

	font-size: 12px;
	color: rgb(70, 69, 146);

	transition: max-height 400ms;
}

.tag-editor-warning-hidden {
	max-height: 0;
}

/*Apply-Discard container*/
@media (min-width: 700px) {
	.editor-confirm-container {
		width: 280px;
	}
}

.editor-confirm-container {
	max-height: 0;
	min-height: 0;
	overflow: hidden;

	height: 35px;

	display: flex;

	column-gap: 10px;

	transition: max-height 400ms, min-height 400ms;
}

.editor-body:has(.new-tag, .deleted-tag) + .editor-confirm-container {
	max-height: 35px;
	min-height: 35px;
}

.editor-confirm-container button {
	cursor: pointer;

	flex: 1;

	border-style: none;

	height: 35px;

	border-radius: 40px;
}

.editor-discard-button {
	font-weight: bold;
	color: white;

	background-color: rgb(255, 87, 137);
}

.editor-apply-button {
	color: rgb(72, 97, 107);

	background-color: rgb(207, 241, 250);
}

.editor-discard-button:hover,
.editor-delete-button:hover {
	background-color: rgb(255, 16, 96);
}

.editor-apply-button:hover,
.editor-open-button:hover {
	color: white;
	background-color: rgb(127, 225, 252);
}
