main {
	margin: 35px 0 0 45px;

	display: flex;

	background-color: rgb(251, 250, 253);
}

.search-view {
	margin: 30px 0 0 0;

	flex: 1;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	row-gap: 10px;
}

.image-grid {
	list-style: none;

	margin: 20px 20px;
	padding: 0;

	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);

	justify-content: center;

	align-items: center;

	align-self: stretch;

	column-gap: 25px;
	row-gap: 10px;
}
