main header {
	align-self: stretch;

	margin: 0 45px;

	display: flex;
	flex-direction: column;
}

.searchbar {
	flex: 1;

	height: 45px;

	padding: 0 15px;

	display: flex;
	align-items: center;
	column-gap: 15px;

	border-style: solid;
	border-width: 1px;
	border-radius: 56px;
	border-color: rgb(211, 211, 211);

	background-color: white;

	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.062);
}

.searchbar-body {
	contain: inline-size;

	overflow: scroll;
	flex-wrap: nowrap;

	height: 45px;

	flex: 1;
	min-width: 100px;

	display: flex;
	align-items: center;
	column-gap: 3px;
}

.searchbar:has(.searchbar-input:focus) {
	outline: solid 1px rgb(16, 219, 255);
}

.searchbar-input {
	white-space: nowrap;

	flex: 1;
	font-size: 14px;

	min-width: 150px;

	border: none;
}

.searchbar-input:focus {
	outline: none;
}

.clear-searchbar-button {
	cursor: pointer;

	aspect-ratio: 1;
	width: 20px;

	background-color: rgb(255, 0, 76);

	mask-image: url('../icon/close-bold-svgrepo-com.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

.clear-searchbar-button:hover {
	background-color: rgba(255, 0, 76, 0.61);
}

.searchbar-warning {
	cursor: default;

	overflow: hidden;

	position: relative;

	margin: 0;

	padding: 10px 15px 0 15px;

	max-height: 25px;

	font-size: 12.5px;
	color: rgb(255, 0, 76);

	transition: transform 600ms, max-height 600ms linear;
}

.searchbar-warning:empty {
	padding: 0;

	max-height: 0;

	transform: translateY(-10px);
}
