main header {
	align-self: stretch;

	margin: 30px 45px 0 45px;

	display: flex;
	flex-direction: column;
}

.searchbar-container {
	display: flex;

	column-gap: 10px;
}

.searchbar {
	flex: 1;

	position: relative;

	height: 45px;

	padding: 0 15px;

	display: flex;
	align-items: center;
	column-gap: 15px;

	border-style: solid;
	border-width: 1px;
	border-radius: 56px;
	border-color: rgb(211, 211, 211);

	background-color: white;

	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.062);
}

.searchbar-body {
	cursor: text;

	contain: inline-size;

	overflow: scroll;
	flex-wrap: nowrap;

	overscroll-behavior: contain;

	height: 45px;

	padding-left: 5px;

	font-size: 14px;

	flex: 1;
	min-width: 100px;

	display: flex;
	align-items: center;
	column-gap: 3px;
}

.searchbar:has(.searchbar-input:focus),
.searchbar:has(.searchbar-body:focus) {
	outline: solid 1px rgb(16, 219, 255);
}

.searchbar-input {
	position: relative;

	white-space: nowrap;

	flex: 1;
	font-size: 14px;

	margin-left: 4px;

	min-width: 150px;

	border: none;
}

.searchbar-input:focus,
.searchbar-body:focus {
	outline: none;
}

.searchbar-clear-button {
	cursor: pointer;

	aspect-ratio: 1;
	width: 20px;

	background-color: rgb(255, 0, 76);

	mask-image: url('../../icon/close-bold-svgrepo-com.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

.searchbar-clear-button:hover {
	background-color: rgba(255, 0, 76, 0.61);
}

.searchbar-warning {
	cursor: default;

	overflow: hidden;

	position: relative;

	margin: 0;

	padding: 10px 15px 0 15px;

	max-height: 25px;

	font-size: 12.5px;
	color: rgb(255, 0, 76);

	transition: max-height 300ms linear;
}

.searchbar-warning-hidden {
	max-height: 0;
}

.searchbar-search-button {
	cursor: pointer;

	aspect-ratio: 1;

	width: 45px;

	display: flex;
	align-items: center;

	border: none;

	border-radius: 100px;

	background-color: rgb(207, 241, 250);
}

.searchbar-search-icon {
	aspect-ratio: inherit;
	flex: 1;

	background-color: rgb(74, 178, 209);

	mask-image: url(../../icon/search-svgrepo-com.svg);
	mask-position: center;
	mask-size: 70%;
	mask-repeat: no-repeat;
}

.searchbar-search-button:hover {
	background-color: rgb(188, 240, 255);
}

.searchbar-search-button-disabled {
	pointer-events: none;

	opacity: 0.3;
}
