.search-tag {
	cursor: pointer;

	user-select: none;

	white-space: nowrap;

	font-size: 14px;
	color: rgb(72, 97, 107);

	padding: 4px 8px;

	border: none;
	border-radius: 20px;
	background-color: rgb(207, 241, 250);
}

.search-tag:hover {
	text-decoration: line-through;
}

.new-tag {
	color: white;
	background-color: rgb(149, 208, 248);
}

.first-time-tag {
	font-weight: bold;
	color: rgb(219, 250, 255);
	background-color: rgb(73, 72, 129);
}
.deleted-tag {
	text-decoration: line-through;

	background-color: rgb(202, 202, 202);
}

.deleted-tag:hover {
	text-decoration: none;
}

.excluded-tag {
	background-color: rgb(255, 218, 149);
}

.wrong-tag {
	color: rgb(255, 0, 76);
	background-color: rgb(255, 202, 218);
}
